<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430770734546-2r87649gl5li6s55cq6haj3aimf60of7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430770734546-2r87649gl5li6s55cq6haj3aimf60of7</string>
	<key>API_KEY</key>
	<string>AIzaSyDGJ7lwHLeUTUMy6EimMKP8z9myYkGvAqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>430770734546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.GoPlace-Driver.GoPlace-Driver</string>
	<key>PROJECT_ID</key>
	<string>goplace-driver-49d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>goplace-driver-49d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430770734546:ios:cd81069c2584dcfcf1340b</string>
</dict>
</plist>